/* Colors used

Text Color (dark slategrey): #2f4f4f;
Primary Color (navy): #000080;
Secondary Color (slategrey): #708090;
Background-color (ghostwhite): #f8f8ff;

For font: font-family: 'Montserrat', sans-serif; */

:root {
  --primary-color: #000080;
  --secondary-color: #708090;
  --text-color: #2f4f4f;
  --line-height: 1.6;
  --font-weight700: 700;
  --padding20: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: white;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight700);
  line-height: var(--line-height);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight700);
  line-height: var(--line-height);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight700);
  line-height: var(--line-height);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #ccf7e9;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 50px;
  transition: width 2s, height 2s, opacity 0.9s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  width: 230px;
  height: 50px;
}

a:link {
  color: var(--primary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: none;
  font-weight: var(--font-weight700);
}

a:active {
  color: #000;
  font-weight: var(--font-weight700);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile,
.personal-information {
  max-width: 700px;
  margin: 0 auto;
}

.personal-information {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  width: 100%;
  padding: var(--padding20);
  border-bottom: 1px solid var(--text-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list,
.hobbies-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: var(--padding20);
}

.grid__item {
  background-color: lightgray;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.work-heading {
  padding: var(--padding20);
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes enlarge-city {
  from {
    transform: scale(1.25, 1.25);
  }

  to {
    transform: scale(0.95, 0.95);
  }
}

.stlouis {
  width: 100%;
  padding: 60px;
  animation: 3s enlarge-city 10 alternate linear;
}

.contact-info {
  padding: 20px;
}
